<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:VGhpc0lzQVRlc3RpbmdLZXlPbmx5MzJCeXRlc0xvbmc="/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="SESSION_ENCRYPT" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="BROADCAST_CONNECTION" value="log"/>
        <env name="PORTWAY_PROVISIONER" value="local"/>
        <env name="PORTWAY_SUPER_ADMIN_EMAIL" value="admin@portway.test"/>
        <env name="PORTWAY_SUPER_ADMIN_PASSWORD" value="Passw0rd!Passw0rd!"/>
    </php>
</phpunit>
